/* MOBILE FIX */
@media (max-width: 992px) {
    #sidebar {
        display: none !important;
    }

    #content-area {
        margin-left: 0 !important;
    }

    .floating-btn {
        display: none;
    }

    #sidebar {
        display: none !important;
    }
}